# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "5a5e7ed34f729de84f6d992321961c9d"
name = "ledger-xport-app"
handle = "ledger-xport-app-1"
application_url = "https://custom-beaver-winning-techniques.trycloudflare.com"
embedded = true

[build]
include_config_on_deploy = true
automatically_update_urls_on_dev = true

[tunnel]
provider = "ngrok"

[webhooks]
api_version = "2025-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_orders,write_orders,read_products,read_customers,read_shopify_payments_payouts,read_shopify_payments_disputes,read_inventory,read_price_rules,read_discounts,read_marketing_events,read_shopify_payments_accounts,read_locales"

[auth]
redirect_urls = ["https://custom-beaver-winning-techniques.trycloudflare.com/auth/callback", "https://custom-beaver-winning-techniques.trycloudflare.com/auth/shopify/callback", "https://custom-beaver-winning-techniques.trycloudflare.com/api/auth/callback"]

[pos]
embedded = false
